body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
  overflow: hidden;
}

main {
  display: flex;
  max-height: 100vh;
}

h1, h2, h3, h4, p, span, div, li, ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: darkcyan;
}

a.active {
  color: rgba(0, 0, 0, 0.95);
}

a.active:hover {
  cursor: default;
}

.vert-sep {
  width: 2px;
  min-height: 100%;
  background-color: black;
}

input {
  padding: 0.75em 1.25em;
  font-size: 1em;
  margin: 1em 0px;
  border: 1px solid rgb(49, 49, 49);
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: lightgray;
}