.portfolio-container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.portfolio {
  padding: 3.5em 0;  
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.portfolio h1 {
  text-align: center;
  font-size: 1.75em;
  margin-bottom: 1.75em;
}

.portfolio-scroller {
  flex-grow: 1;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-items {
  width: 100%;
}

.portfolio-item {
  display: flex;
  justify-content: space-between;
  font-size: 1.15em;
  padding: 1.2em 0em 1.2em 0em;
  margin-left: 0.75em;
  flex-wrap: wrap;
  border-bottom: 2px solid black;
}

.portfolio-item .symbol {
  font-weight: bolder;
}

.portfolio-item div:first-of-type {
  margin-right: 0.75em;
}

.portfolio-item .symbol:after {
  content: ' - ';
  margin: 0 0.5em;
  color: black;
}

.portfolio-item.positive .symbol,
.portfolio-item.positive .price {
  color: green;
}

.portfolio-item.neutral .symbol,
.portfolio-item.neutral .price {
  color: gray;
}

.portfolio-item.negative .symbol,
.portfolio-item.negative .price {
  color: red;
}