.list-container {
  width: 55%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.list {
  padding: 3.5em 0;  
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.list h1 {
  text-align: center;
  font-size: 1.75em;
  margin-bottom: 1.75em;
}

.scroller {
  flex-grow: 1;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroller-list {
  width: 100%;
}

.scroller-item {
  display: flex;
  justify-content: space-between;
  font-size: 1.15em;
  padding: 1.2em 0em 1.2em 0em;
  margin-left: 0.75em;
  flex-wrap: wrap;
  border-bottom: 2px solid black;
}

.scroller-item .symbol {
  font-weight: bolder;
}

.scroller-item div:first-of-type {
  margin-right: 0.75em;
}

.scroller-item .symbol:after {
  content: ' - ';
  margin: 0 0.5em;
  color: black;
}

.scroller-item.positive .symbol,
.scroller-item.positive .price {
  color: #0b8460;
}

.scroller-item.neutral .symbol,
.scroller-item.neutral .price {
  color: #4d6666;
}

.scroller-item.negative .symbol,
.scroller-item.negative .price {
  color: #e22020;
}